body {
    font-family:"Roboto", Georgia, 'Times New Roman', Times;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 1853px;
    height: 60px;
    padding: 0px 24px 0px 24px;
}

.menubar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146px;
    height: 24px;
    gap: 32px;
    opacity: 0px;
}

.scope-button {
    border: none;
    background-color: #fff;
}

.scope-button .yt-icon img {
    background-color: white;
    border: none;
    width: 32px;
    height: 35px;
    top: 16px;
    left: 24px;
    padding: 6px 3px 6px 3px;
    opacity: 0px;
}

.logo img {
    height: 30px;
}

.search-bar {
    display: flex;
    flex: 1;
    max-width: 600px;
    margin: 0 20px;
}

.search-bar input {
    width: 348px;
    height: 40px;
    margin-top: 8px;
    border: none;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
}

.search-bar button {
    width: 57px;
    height: 40px;
    padding: 6px 16px;
    background: #F8F8F8;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    margin: 8px 0 10px 0;
    border: 1px solid #CCCCCC;
}

.user-icons-buttons {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    cursor: pointer;
    border: none;
}

.style-scope-button {
    background-color: white;
    border: none;
}

.style-scope-button.btn-avatar img {
    border-radius: 50%;
}

main {
    display: flex;
    position: relative;
}

.watching-video {
    
    height: 746px;
    left: 75px;
    gap: 16px;
    margin: 28px 0 0 75px;
    opacity: 0px;
    top: 84px;
    width: 952px;
}

.watching-video h1 {
    font-family: "Roboto"  Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin: 15px 0 0 0;
    text-align: left;
}

.watching-video .informacoes {
    display: flex;
    align-items: center;
    width: 196px;
    height: 90px;
    gap: 12px;
    margin-top: -10px;
}

.watching-video .informacoes h2 {
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    top: 2px;
    text-align: left;
    width: 106px;
    height: 32px;
}

.watching-video .inscritos {    
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-left: -119px;
    top: 8px;
    text-align: left;
}

.watching-video .informacoes p {
    display: flex;
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif ;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding-top: 18px;
    align-items: start;
    justify-items: start;
}

.botao input {   
    color: #FFFFFF;
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14PX;
    line-height: 15PX;
    display: flex;
    margin: -28px 0 0 210px;
    width: 110px;
    height: 36px;
    border-radius: 3px;
    background: #CC0000;
    border: none;
    margin-top: -34px;    
}

.like {
    display: flex;    
    justify-content: center;   
    align-items: center;    
    margin-top: -28px;
    margin-left: 432px;    
}

.like img {  
    padding: 0 -5px 0 0;
    height: 22px;
    margin: -38px 10px 0 0;
    width: 22px;
}

.like p {  
    margin: -35px 0 0 0;
    left: 435px;
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif ;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    padding: 0 22px 0 0;
}

.watching-video p {
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.watching-video .visibile {
    width: 510px;
    height: 64px;
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif ;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    color: #515151;
}

.video img {
    width: 160px;
    height: 90px;
    margin-left: 25px;
    margin-bottom: -104px;
}

.informacoes .titulo {
    width: 196px;
    height: 32px;
    left: 185px;
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    position: relative;
    margin: 9px 0 0 16px;
}

.formatacao-paragrafos{
    display: flex;
    position: relative;
    left: 200px;
    font-family: "Roboto", Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    top: 8px;
}

.info-p2 {   
    width: 150px;   
    padding-top: 8px;  
}

