body {
    background-color: rgb(9, 8, 8);
}

h2 {
    font-size: 2rem;
    color: #33a8db;
    font-weight: bold;
    letter-spacing: 14px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

p {
    color: white;
}


section {
    margin: 100px auto;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../image/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #33a8db80;
}

.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}

.banner h1 {
    background-clip: text;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    color: transparent;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    -webkit-background-clip: text;
}

.banner p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    color: #ffffff;
    margin: 16px 0 24px;
}

.banner .logo {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    height: 260px;
    margin: auto;
    margin-bottom: 16px;
    padding: 16px;
    width: 260px;
}

.banner .logo img {
    height: 100%;
    margin: auto;
    object-fit: contain;
    width: 100%;
}

.banner .banner-content button {
    padding: 16px 32px;
    background-color: transparent;
    border-image: linear-gradient(#3ba1cd, #1572b7);
    border-image-slice: 10;
    border-radius: 30px;
    color: #31A8DD;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#course-content {
    width: 800px;
    text-align: center;
}

#course-content .modules-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 325px;
    justify-content: center;
    width: 792px;
}

#course-content .modules-list .module {
    background: #252525;
    border: 2px solid #33A8DB;
    border-radius: 50px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
    color: #fff;
    margin: 0 auto 24px;
    margin-top: 15px;
    padding: 12px;
    width: 535px;
}

#course-content .modules-list .module span {
    color: #33A8DB;
}

#transform-world {
    background-image: url('../image/woman-code.png');
    height: 560px;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
}

#professional-challenges p {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#professional-challenges h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    left: 546px;
    max-width: 800px;
    position: relative;
    text-align: center;
}

#professional-challenges img {
    background-size: cover;
    height: 429px;
    margin-left: 600px;
    align-items: center;
    padding: 20px;
    width: 659px;
}

footer {
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
    padding: 60px 0;
    text-align: center;
}

footer .dio-logo {
    width: 300px;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}