body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fc1e8a;
    user-select: none;
}

.container {
    align-items: center;
    background: linear-gradient(
        325deg,
        #030013 0%,
        #7303c0 30%,
        #ec38bc 70%,
        #fdeff9 100%
    );
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 40px 60px;
    position: relative;
}

h2{
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20px;
    width: 100%;
    color: #000000;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
}

.reset:focus{
    color:#ec38bc ;
    background-color: #262809;
}

.game{
    display: flex;
    height: 430px;
    flex-wrap: wrap;
    gap: 10px;
    perspective: 500px;
    transform-style:preserve-3d;
    width: 430px;
}

.item{
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 100px;
    position: relative;
    width: 100px;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #404040;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen{
    transform: rotateY(0deg);
}
.item.boxOpen::after,
.boxMatch::after
{
    transform: rotateY(180deg);
}